* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #bebebe;
    font-family: Arial, Helvetica, sans-serif;
}

#general-nav {
    position: fixed;
    top: 0;
    display: flex;
    background-color: #dcdcdc;
    width: 100%;
    height: 70px;
    justify-content: flex-start;
    align-items: center;
    z-index: 10;
    box-shadow: 0px 0px 15px 1px #7d7d7d;
}

.nav-item {
    margin: 0 20px;
}

#search-bar {
    width: 50vw;
    height: 3vh;
    border: none;
}

.cover-back {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 70px;
    left: 0;
    opacity: 0;
    z-index: 0;
    background-color: #232323;
}

#hidden-menu {
    position: fixed;
    left: -24vw;
    top: 0;
    background-color: #dcdcdc;
    z-index: 10;
    height: 100vh;
    width: 20vw;
    border-right: 1px solid black;
    padding: 30px;
}

#navigate {
    margin-top: 70px;
    background-color: #b4b4b4;
    height: 70px;

    ul {
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
    }
}

#deal {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(246, 255, 90);
    background: linear-gradient(54deg, rgba(246, 255, 90, 1) 0%, rgba(206, 42, 255, 1) 48%, rgba(105, 0, 136, 1) 100%);
}

#img-slider {
    height: 400px;
    width: 100%;
    position: relative;
    transition: transform 0.5s ease-in-out;
}

.img-container {
    object-fit: cover;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -10;
}

.img-container img {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -10;
}

.img-container img.now {
    display: block;
    opacity: 1;
}

.btn-slide-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    z-index: -3;
    transition: all 0.3s ease-in-out;
}


.btn-slide {
    height: 100%;
    width: 70px;
    cursor: pointer;
    background-color: rgb(35, 35, 35, 0.4);
    border: none;
}

#deal-slider {
    margin-top: 20px;
    border: 1px solid red;
    padding: 10px;
    position: relative;
    height: 450px;
}

.btn-deal-slide-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}


.btn-deal-slide {
    height: 100%;
    width: 70px;
    cursor: pointer;
    background-color: rgb(35, 35, 35, 0.4);
    border: none;
}


.card {
    width: 250px;
    height: 400px;
    margin: 10px;
    padding: 0 5px 5px 5px;
    border-radius: 20px;
    overflow: hidden;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    position: relative;
    box-shadow: 0px 0px 15px 5px #7d7d7d;
    position: absolute;
    z-index: -15;
}

.card .card-img {
    width: 250px;
    margin-bottom: 5px;
}

.card .card-title {
    font-size: 2rem;
    margin: 5px;
}

.card .card-subtitle {
    font-size: 1rem;
    margin: 5px;
}

.card .card-details {
    font-size: 0.7rem;
    text-align: justify;
}

.card .action-section {
    justify-self: end;
    position: absolute;
    bottom: 0;
    height: 10%;
    background-color: #232323;
    width: 100%;
}